.error {
    margin: 1em 0em;
    font-weight: bold;
    color: red;
    font-size: 0.75em;
    text-align: center;
}

.message {
    margin: 1em 0.25em 0em;
    font-size: 0.75em;
    text-align: center;
}

.create {
    color: rgb(37, 141, 251);
    text-decoration: underline;
}