:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #f2f2f2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  scrollbar-width: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  margin: 5em 0em 2em;
}

.loading-spinner {
  min-height: 100vh;
}

.create-account,
.redirect {
  min-height: 50vh;
}

.card-background {
  background-color: var(--card-background);
  border: 1px solid var(--card-background);
}

.gray-background {
  background-color: var(--card-background) !important;
}

.error-layout {
  min-height: 75vh;
  text-align: center;
  flex-direction: column;
}

.error-redirect {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.clicker {
  cursor: pointer;
}

.cell {
  max-width: 90%;
  text-wrap: nowrap;
  overflow-x: scroll;
}

.click {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.delete {
  &:hover {
    cursor: pointer;
    color: red;
    transition: color 0.5s;
  }
}

.cellHover {
  max-width: 125px;
  text-wrap: nowrap;
  overflow-x: scroll;

  &:hover {
    cursor: pointer;
    color: white !important;
    background-color: lightblue !important;
  }
}

.info-text {
  width: 90%;
}

.content-margin {
  margin: 1em 0em;
}

.status-bar {
  height: 30px;
}
