.inputCard {
    width: 50%;
    justify-content: center;
    align-items: start;
}

.inputCard > div {
    width: 25%;
    margin: 0.5em 0em;
}

.inputCard > div > input {
    padding: 0.25em;
    border: solid black 0.1px;
    border-radius: 5px;

}